
/* mobile and tablet */
@media (max-width: 1024px) {
    .black-button{
        padding: 16px 16px;
    }

    .form-control{
        padding: 14px;
    }

    .contact-content .contact-info{
        line-height: 2;
    }

    #footer .social{
        font-size: 24px;
    }

    #footer .social a{
        padding: 3px;
    }

    #footer .credit a{
        padding: 4px;
    }
}



/* mobile */
@media (max-width: 739px) {
    .black-button{
        float: none !important;
        width: 100%;
    }

    #header{
        height: 46px ;
        overflow: hidden;
    }

    #nav{
        display: block;
    }

    #nav li .homepage{
        display: inline-flex;
    }

    #nav .subnav {
        position: initial;
        background-color: #333;;
    }

    #nav .subnav li{
        padding: 1px 16px;
    }

    #nav .subnav li a{
        color: white;
    }

    #header .nav-search{
        display: none;
    }

    #header .menu-icon{
        display: inline-flex;
        align-items: center;
        float: right;
        padding: 12px 24px;
        height: 46px;
        color: white;
        clear: both;
        text-decoration: none;
    }

    #header .menu-icon:hover{
        background-color: #ccc;
        color: black;
    }

    #content .member-box{
        width: 100%;
        flex-direction: column;
    }

    #content .member-box .member{
        padding-top: 16px;
    }

    #content .member-box .member img {
        width: 60%;
    }

    .place-box .place-list {
        width: 100%;
        padding-top: 16px;
    }

    #modal-content{
        margin: 12px;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19)
    }

    #content .contact-box{
        width: 100%;
    }

    .contact-box .contact-content {
        flex-direction: column;
        width: 100%;
    }

    .contact-content .contact-info{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 16px;
        margin-top: 32px;
    }

    .contact-content .contact-input{
        width: 100%;
        padding-left: 16px;
        padding-right: 16px;
        margin-bottom: 40px;
    }

    .contact-content .contact-input .name-email{
        flex-direction: column;
    }

    .contact-input .name-email input{
        margin: 8px 0 0 0;
        width: 100%;
    }

    .contact-input .message input{
        margin: 8px 0;
    }
}